<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="welcome" exactDestination="true" />
        <rewrite>         
            <rules>
		        <clear />
                <rule name="besli" stopProcessing="true">
                    <match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm?param_lang={R:1}&amp;param_1={R:2}&amp;param_2={R:3}&amp;param_3={R:4}&amp;param_4={R:4}" />
                </rule>
                <rule name="dortlu" stopProcessing="true">
                    <match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm?param_lang={R:1}&amp;param_1={R:2}&amp;param_2={R:3}&amp;param_3={R:4}" />
                </rule>
                <rule name="uclu" stopProcessing="true">
                    <match url="([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm?param_lang={R:1}&amp;param_1={R:2}&amp;param_2={R:3}" />
                </rule>
                <rule name="ikili" stopProcessing="true">
                    <match url="([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm?param_lang={R:1}&amp;param_1={R:2}" />
                </rule>
                <rule name="tek" stopProcessing="true">
                    <match url="([_0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm?param_lang={R:1}" />
                </rule>	
                <rule name="Redirect to https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" negate="false" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
				</rule>			
            </rules>
        </rewrite>
        <httpErrors>            			
        </httpErrors>
        <defaultDocument enabled="true" />
    </system.webServer>
</configuration>